env:
  - CXX=g++-4.8 TRAVIS=true NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
services:
  - redis-server

sudo: false
language: node_js
node_js:
  - "7"
script:
  - npm test
after_script:
  - npm install codecov
  - ./node_modules/.bin/codecov
